

.homePageContainer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .welcomeMessage {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  