.email-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .input-field {
    width: calc(100% - 22px); /* Adjust width to fit the container */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .editor-container {
    margin-bottom: 15px;
  }
  
  .editorClassName {
    height: 300px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .send-button-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  