.emailContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #f4f0f0; /* Add border to the container */
    border-radius: 1px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding to the container */
  }
  
  .emaildetails {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(218, 211, 211);
    padding: 0px 10px;
    height: 40px;
  }
  
  .emaildetails__left {
    display: flex;
    align-items: center;
    min-width: 400px;
    flex: 20%;
  }
  
  .emaildetails__middle {
    display: flex;
    align-items: center;
    flex: 90%;
  }
  
  .emaildetails__middle p {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    max-width: 700px;
  }
  
  .emaildetails__right {
    display: flex;
    align-items: center;
    flex: 10%;
  }
  
  .emailBodyContainer { 
    padding: auto;
  }
  