
.modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #17a2b8;
    color: #fff;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  